@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


header{
      height: 800px;
 }

.navbar, .nav-link{
   font-size: x-large;
   font-weight: 700;
   color: #add981;
     
}

a:hover{
   color: #feca57;
}

.slogan{
   margin-top: 300px;
   margin-left: 50px;
   color: beige;
   font-size: 50px;
   font-weight: 500;
   word-spacing: 15px;
   letter-spacing: 3px;
}
   
.row, .col{
 font-size: 30px;
 font-family: abril Fatface;

 }

.delivery-icon {
   color: #add981;
   font-size: 50px;
   margin-top: 180px;
}

.best, .plantes{
   margin-top: 100px;
   font-size: 50px;
   font-family: abril Fatface;
   color: #0652DD;
   position: relative;
   margin-bottom: 40px;
   margin-left: 50px;
}

.best::before, .plantes::before{
content: " ";
position: absolute;
background-color: #add981;
height: 6px;
width: 85px;
bottom: 0;
}

.plant-1, .plant-2, .plant-3, .plant-4{
   color: black;
   font-family: abril Fatface;
   
}

.card-text{
   color: #add981;
}

.btn{
   color: white;
   background-color: #add981;
   border-radius: 16px;
   border: none;
   margin-left: 110px;
}

#plantes{
   margin-left: 35px;

}

#ventes{
   margin-left: 20px;
}

footer{
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
  
  color: white; 
   text-align: center;
   padding: 20px;
  
}

.scroll{
   font-size: 45px;
   margin-left: 1000px;
   margin-top: 100px;
   z-index: 99;
   
}

